# {{ ansible_managed }}
[Unit]
Description=Weekly Notenotes restic repository check

[Timer]
OnCalendar={{ restic_check_on_calendar }}
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
